# Default ignored files
/.idea/shelf/
/.idea/workspace.xml

# data folders
/preprocessed_data
/sample_test_data
/epochs

#jupyter notebook checkpoints
/.ipynb_checkpoints

#ignore DS_store files
*.DS_store

#ignore ipynb files
*.ipynb